@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 89%; 
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/
header,
footer {
  padding: 18px 0;
  background-color: #000;
}

header { margin-top: 27px; }

header .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h1 a,
h4 a {
  color: #FFF;
  font-size: 41px;
  text-transform: uppercase;
}

header ul a {
  padding: 0 15px;
  color: #FFF;
  text-transform: uppercase;
}

header ul a:hover { color: #FAFF00; }

header li:first-child { border-right: 2px solid #FFF; }
/*=================================
  Header styling ends here
=================================*/

/*=================================
  main styling starts here
=================================*/
h2,
h3 {
  font-size: 23px;
  text-transform: uppercase;
}

h2 { padding: 40px 0; }

h3 {
  padding: 12px 100px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.priority-1 h3 { background-color: #ED1B24; }
.priority-2 h3 { background-color: #F26522; }
.priority-3 h3 { background-color: #FAFF00; }

.priorities {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.priorities li { flex-basis: 28.3%; }

.priorities div {
  padding: 100px;
  border: 2px solid #000;
  border-top: 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.task {
  padding: 2px 19px;
  border-radius: 7px;
  background-color: #000;
  color: #FFF;
  font-size: 24px;
  text-transform: uppercase;
}

.task-container {
  padding: 40px 0;
  display: flex;
  justify-content: space-evenly;
}
/*=================================
  main styling ends here
=================================*/